<div class="fixed-action-btn">
    <a data-target="slide-out"
       class="btn-floating btn-large red sidenav-trigger">
        <i class="large material-icons">mode_edit</i>
    </a>

</div>

<ul id="slide-out"
    class="sidenav">
    <li>
        <div class="user-view">

            <a href="#user"><img class="circle"
                                 src="/assets/shared/nav/1.jpg"></a>

            <a href="#name"><span class="name">Ebrahim Soliman</span></a>
            <a href="#email"
               class="badge text-white bg-secondary"><span class=" email ">Javascript developer</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="fas fa-envelope"></i> ebrahimahmed97090@gmail.com</a></li>

    <li><a href="#!"><i class="fas fa-mobile-alt"></i> +20 12 8466 89977</a></li>
    <li><a href="https://www.linkedin.com/in/ebrahimahmed97090/"><i class="fas fa-mobile-alt"></i> Ebrahim Ahmed</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect"
           href="#!">Third Link With Waves</a></li>
</ul>

